body {
	background-image: url('gambarr.jpg');
    background-size: cover;
}

#fullpage {
		position: fixed;
}


#card {
        background: #fbfbfb;
        border-radius: 8px;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
        height: 410px;
        margin: 6rem auto 8.1rem auto;
        width: 329px;
}

.card {
	  background: green;
        border-radius: 3px;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
        height: 41px;
        margin: 2rem auto 8.1rem auto;
        width: 75px;
         box-shadow: 5px 1px 10px rgba(10, 10, 10, 0.65);
}